<div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search by Task name" aria-label="Search by Task name" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
    </div>
  </div>
  <button type="button" class="btn btn-primary">
    Only My Issues
  </button>
  <button type="button" class="btn btn-primary">
    Assigned by Me
  </button>
  <span>User Issues(dropdown)</span>
  <span>Assigned by User on Me(dropdown)</span>
</div>
