<div class="mb-3 text-right">
  <button class="btn btn-success" (click)="createTask()">Create new task</button>
</div>
<div class="search mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search by Task name"
    aria-label="Search by Task name"
    [formControl]="searchQuery"
  >
  <div class="search-results" *ngIf="searchQuery.value && (searchResults$ | async) as searchResults">
    <app-search-results
      [searchResults]="searchResults"
      (clearResults)="clearSearchResults()"
    ></app-search-results>
  </div>
</div>
<div class="filters">
  <button
    type="button"
    class="btn"
    [ngClass]="searchByAssignee?.value === user?.id ? 'btn-primary' : 'btn-outline-primary'"
    (click)="searchByAssignee.setValue(user?.id)"
  >
    Only My Issues
  </button>
  <button
    type="button"
    class="btn"
    [ngClass]="searchByReporter?.value === user?.id ? 'btn-primary' : 'btn-outline-primary'"
    (click)="searchByReporter.setValue(user?.id)"
    >
    Assigned by Me
  </button>
  <div class="form-group" *ngIf="users">
    <label for="user-issues">Assignee</label>
    <select class="form-control" id="user-issues" [formControl]="searchByAssignee">
      <option value="" disabled></option>
      <ng-container *ngFor="let u of users">
        <option [value]="u.id" *ngIf="u.id !== user?.id">{{ u.displayName || '-' }}</option>
      </ng-container>
    </select>
  </div>
  <div class="form-group" *ngIf="users">
    <label for="user-assigned">Reporter</label>
    <select class="form-control" id="user-assigned" [formControl]="searchByReporter">
      <option value="" disabled></option>
      <ng-container *ngFor="let u of users">
        <option [value]="u.id" *ngIf="u.id !== user?.id">{{ u.displayName || '-' }}</option>
      </ng-container>
    </select>
  </div>
  <button type="button" class="btn btn-secondary" (click)="clearFilters()">Clear filters</button>
</div>
