<div class="jr-table">
  <div class="jr-table-col">
    <div class="jr-table-heading">
      <span>TO DO</span>
    </div>
    <div class="jr-table-list">
      <app-task-card></app-task-card>
    </div>
  </div>
  <div class="jr-table-col">
    <div class="jr-table-heading">
      <span>IN PROGRESS</span>
    </div>
    <div class="jr-table-list">
      <app-task-card></app-task-card>
      <app-task-card></app-task-card>
      <app-task-card></app-task-card>
    </div>
  </div>
  <div class="jr-table-col">
    <div class="jr-table-heading">
      <span>REVIEW</span>
    </div>
    <div class="jr-table-list">
    </div>
  </div>
  <div class="jr-table-col">
    <div class="jr-table-heading">
      <span>QA</span>
    </div>
    <div class="jr-table-list">
    </div>
  </div>
  <div class="jr-table-col">
    <div class="jr-table-heading">
      <span>DONE</span>
    </div>
    <div class="jr-table-list">
    </div>
  </div>
</div>