<app-loading *ngIf="loading"></app-loading>
<div class="jr-table">
  <div class="jr-table-col">
    <div class="jr-table-heading">
      <span>TO DO</span>
    </div>
    <div class="jr-table-list">
      <app-task-card *ngFor="let task of getTasks(tasks, 'TO_DO')"
        [task]="task"
      ></app-task-card>
    </div>
  </div>
  <div class="jr-table-col">
    <div class="jr-table-heading">
      <span>IN PROGRESS</span>
    </div>
    <div class="jr-table-list">
      <app-task-card *ngFor="let task of getTasks(tasks, 'IN_PROGRESS')"
        [task]="task"
      ></app-task-card>
    </div>
  </div>
  <div class="jr-table-col">
    <div class="jr-table-heading">
      <span>REVIEW</span>
    </div>
    <div class="jr-table-list">
      <app-task-card *ngFor="let task of getTasks(tasks, 'REVIEW')"
        [task]="task"
      ></app-task-card>
    </div>
  </div>
  <div class="jr-table-col">
    <div class="jr-table-heading">
      <span>QA</span>
    </div>
    <div class="jr-table-list">
      <app-task-card *ngFor="let task of getTasks(tasks, 'QA')"
        [task]="task"
      ></app-task-card>
    </div>
  </div>
  <div class="jr-table-col">
    <div class="jr-table-heading">
      <span>DONE</span>
    </div>
    <div class="jr-table-list">
      <app-task-card *ngFor="let task of getTasks(tasks, 'DONE')"
        [task]="task"
      ></app-task-card>
    </div>
  </div>
</div>