:host {
  display: block;
}

.card {
  padding: 4px;
  font-size: 12px;
  border: 1px solid rgba(9, 30, 66, 0.1);
  border-left-width: 3px;

  >*+* {
    margin-top: 4px;
  }

  >a {
    display: block;
    color: #172B4D;
    text-decoration: none;
  }

  &.bug {
    border-left-color: #cc0000;
  }
  &.task {
    border-left-color: #bfe4ff;
  }
  &.improvment {
    border-left-color: #009900;
  }
  &.story {
    border-left-color: #66cc33;
  }
  &.feature {
    border-left-color: #009999;
  }
}


h6 {
  font-size: 13px;
}

h6, p {
  margin-bottom: 0;
}