<h2 class="title">{{ task?.title }}</h2>
<div class="actions">
  <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
  <button type="button" class="btn btn-info" (click)="edit()">Edit</button>
</div>
<div class="description card">
  <div class="card-body">
    <h6>Description:</h6>
    <div>{{ task?.description || '-' }}</div>
  </div>
</div>
<div class="info card">
  <div class="card-body">
    <p>
      <strong>Status</strong>
      <span>{{ label[task?.label]}}</span>
    </p>
    <p>
      <strong>Type</strong>
      <span>{{ task?.type }}</span>
    </p>
    <p>
      <strong>Deadline</strong>
      <span>{{ (task?.deadline | date: 'dd.MM.yyyy') || '-' }}</span>
    </p>
    <p>
      <strong>Assignee</strong>
      <span>{{ task?.assignee?.displayName || '-' }}</span>
    </p>
    <p>
      <strong>Reporter</strong>
      <span>{{ task?.reporter?.displayName || '-' }}</span>
    </p>
  </div>
</div>